/* 각각 %비율로 (ex. 10% 30% 20% 20% 20%)
각각 다른 색상으로 표현 */

/* 문15 의 div 5개를 포함한 div 하나를 화면 영역 가로 100% 높이 1000px 의 중간에 위치시키기 */

#x {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  background-color: lavenderblush;
}

#a {
  background-color: salmon;
  flex-basis: 10%;
  height: 100px;
}

#b {
  background-color: burlywood;
  flex-basis: 25%;
  height: 100px;
}

#c {
  background-color: palegreen;
  flex-basis: 20%;
  height: 100px;
}

#d {
  background-color: skyblue;
  flex-basis: 15%;
  height: 100px;
}

#e {
  background-color: slateblue;
  flex-basis: 30%;
  height: 100px;
}
