<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>AI 게시판</title>
  </head>
  <body>
    <div>
      <div>
        <h2 th:text="|#${post.no} ${post.title}|">
          게시글 제목이 여기에 뜹니다
        </h2>
        <div>
          작성자: <span th:text="${post.id}">파티나</span> | 작성일:
          <span th:text="${#temporals.format(post.regDate, 'yyyy-MM-dd')}"
            >2026-05-12</span
          >
        </div>
      </div>

      <hr />

      <div>
        <p th:utext="${post.content}">글 내용이 여기에 나타납니다.</p>
      </div>

      <hr />
      <div>
        <a href="/">목록으로</a>
        <a th:href="@{/edit(no=${post.no})}">글 수정</a>
        <a th:href="@{/del(no=${post.no})}">지우기</a>
      </div>
    </div>
  </body>
</html>
