table {
  /* border: 1px solid black; */
  border-width: 10px;
  border-style: solid;
  border-color: gold;
}

tr,
td {
  border-width: 4px;
  border-style: solid;
  border-color: red;

  padding: 30px;
  /* margin: 50px; */
}